{% extends "layouts/base.twig" %}

{% block content %}
    <div style="height: calc(100dvh - 32px); display: flex; justify-content: center; align-items: center; font-family: 'Helvetica',serif">
        <h1>Theme loaded successfully 🎉</h1>
    </div>
{% endblock %}